.field {
    background-size: cover;    
    background-image: $field-backgroud-image;
    background-position: center;
    display: grid;
    width: 345px;
    height: 481px;
    grid-template-columns: 4.93% 6.09% 5.22% 9.53% 5.02% 4.9% 4.8% 18.39% 10.08% 5.92% 13.69% 5.4% 5.51%;
    grid-template-rows: 0.92% 2.7% 11.85% 2.03% 0.62% 14.55% 1.66% 14.55% 1.66% 14.55% 1.66% 14.55% 18.71%;
    position: relative;    
    &__item1 {
        grid-column-start: 8;
        grid-row-start: 2;
        grid-row-end: 4;        
    }    
    &__item2 {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 6;                
    }    
    &__item3 {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 8;        
    }    
    &__item4 {
        grid-column-start: 11;
        grid-column-end: 13;
        grid-row-start: 10;        
    }    
    &__item5 {
        grid-column-start: 10;
        grid-column-end: 12;
        grid-row-start: 12;        
    }    
    &__item6 {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 12;        
    }    
    &__item7 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 10;        
    }    
    &__item8 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 8;        
    }    
    &__item9 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;        
    }    
    &__item10 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;        
    }  
    &__modal {
        position: absolute;
        width: 40%;
        left: 30%;
        top: 3vw;
        display: none;
        background-color: red;
        z-index: 5000;
    }    
}
.modal {
    position: absolute !important;
    z-index: 9999 !important;    
    & h5 {
        text-align: center;
        color: red;
        font-weight: bold;
        font-size: 24px;
    }
    &-body {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        img {
            width: 30%;
        }
        .info {
            padding-left: 10px;
            & p {
                margin: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 12px;
            }
            & p:first-child {
                display: none;
            }
            .danger-text, & p:last-child {
                font-size: 16px;
                color: red;                
                font-weight: bold;
            }
            & p:last-child {
                font-weight: normal;
            }
        }        
    }
    
}