@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-MediumItalic.ttf') format('ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.ttf') format('ttf');
    font-weight: bold;
}