.parameters {
    width: 100%;    
    font-family: $primary-font-family;
    font-size: 10px;
    position: relative;
    /* height: 612px; */
    height: 100%;
    background-color: $secondary-background-color;    
    border-color: $primary-border-color;    
    margin: 0;
    &::before {
        display: block;        
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40%;        
        font-family: $primary-font-family;
        transform: rotate(-45deg);
        opacity: 0.3;
        font-size: 54px;

        text-shadow: 0 2px white;        
        font-weight: bold;
        color: $secondary-text-color;
    }    
    &__mainContainer {
        height: 55%;
    }
    &__commandContainer {
        height: 44%;
    }
    
    .danger-text {
        color: red;        
        margin: 0;
        font-size: 16px;
    } 
    .info-block {        
        width: 100%;        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(16, 1fr);
        grid-auto-flow: column;
        &__header {
            width: 100%;
            margin: 0 0 5px;
            padding-left: 20px;
            font-size: 20px;
            color: $main-header-color;
            text-shadow: 2px 2px 3px $main-header-shadow-color;
            grid-row: 1/2;
            grid-column: 1/3;
            font-family: $primary-font-family;
            font-weight: normal;
        }
        &__text {
            margin: 0;
            width: 100%;            
            font-size: 12px;
            color: $primary-text-color;            
            font-family: $primary-font-family;
            font-weight: normal;
        }
        &-small {
            grid-template-rows: repeat(14, 1fr);
        }
    }
}

#current-parameters::before {
    content: 'Текущие параметры';
}
#count-parameters::before {
    content: 'Рассчитанные';
}
.smaller {
    color: red;
    font-weight: bold;
}
.more {
    color: green;
    font-weight: bold;
}

