* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {        
    scroll-behavior: smooth;
    background-color: $primary-background-color;
    width: 100%;        
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;    
    .wrapper {        
        min-height: 100vh;
        height: 100vh;
        width: 1900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 345px 2.5fr 3fr 345px 10%;
        grid-template-rows: 25px 25px 30px 465px 100px 20px 1fr 1fr;
        grid-template-areas: 
            ". header header . ."
            "section1 header header section4 section5"
            "section1 anker anker section4 section5"
            "section1 section2 section3 section4 section5"
            "button-container section2 section3 game-info game-info"
            "button-container section2 section3 . ."
            "form1 form1 form1 form1 form1"
            "form2 form2 form2 form2 form2";     
        grid-gap: 5px 5px;
    }
}    
h1 {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    grid-area: header;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    color: #fff;
    font-family: $main-header-font-family;
    position: relative;
    text-transform: uppercase;	
    font-size: calc(2.2rem + 2.2vmin);
    font-weight: 400;
    text-align: justify;
    margin: 0 auto;
    &:after {        
        background: none;
        content: attr(data-heading);
        left: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        text-shadow: 
            -1px 0 1px #c6bb9f, 
            0 1px 1px #c6bb9f, 
            5px 5px 10px rgba(0, 0, 0, 0.4),
            -5px -5px 10px rgba(0, 0, 0, 0.4);
    }
    
}
a {
    font-family: $primary-font-family;
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    text-decoration: none;
    color: $link-color;
    font-size: 20px;
    transition: 0.3s ease-in all;        
    grid-area: anker;
    &:hover {
        color: $primary-text-color;            
    }
}

.field-container-1 {
    grid-area: section1;    
}
.info-container-1 {
    grid-area: section2;
}
.info-container-2 {
    grid-area: section3;
}
.field-container-2 {
    grid-area: section4;
}
.field-container-items {
    grid-area: section5;
}
.control-data-1 {
    grid-area: form1;
}
.control-data-2 {
    grid-area: form2;
}

.field-container, .info-container {            
    display: flex;        
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    box-sizing: border-box;
    position: relative !important;    
}
.hidden {
    display: none !important;
}