* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {        
    scroll-behavior: smooth;
    background-color: $primary-background-color;
    width: 100%;        
    overflow-x: hidden;
    overflow-y: scroll;
    
    margin: 0;    
    .wrapper {        
        min-height: 100vh;
        width: 1900px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 345px 2.5fr 3fr 345px 10%;
        grid-template-rows: minmax(50px, max-content) minmax(20px, max-content) minmax(30px, max-content) minmax(612px, max-content) 1fr 1fr;
        grid-template-areas: 
            ". header header . ."
            "section1 header header section4 section5"
            "section1 anker anker section4 section5"
            "section1 section2 section3 section4 section5"
            "form1 form1 form1 form1 form1"
            "form2 form2 form2 form2 form2";     
        grid-gap: 5px 5px;
    }
}    
h1 {        
    text-align: center;  
    font-family: $primary-font-family;        
    font-size: 48px;
    color: $main-header-color;
    text-shadow: 2px 2px 3px $main-header-shadow-color;
    margin: 0;
    padding: 10px 0 0;
    user-select: none;
    font-weight: normal;
    grid-area: header;
}    
a {
    font-family: $primary-font-family;
    text-decoration: none;
    display: block;
    text-align: center;
    color: $link-color;
    font-size: 20px;
    transition: 0.3s ease-in all;        
    grid-area: anker;
    &:hover {
        color: $primary-text-color;            
    }
}

.field-container-1 {
    grid-area: section1;
    justify-content: space-between !important;
}
.info-container-1 {
    grid-area: section2;
}
.info-container-2 {
    grid-area: section3;
}
.field-container-2 {
    grid-area: section4;
}
.field-container-items {
    grid-area: section5;
}
.control-data-1 {
    grid-area: form1;
}
.control-data-2 {
    grid-area: form2;
}

.field-container, .info-container {            
    display: flex;        
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    box-sizing: border-box;
    position: relative !important;    
}
.hidden {
    display: none !important;
}