body {    
    /* background-image: $primary-background-image; */
    background-color: $primary-background-color;
    width: 100%;        
    min-height: 100vh;    
    overflow-x: hidden;
    overflow-y: scroll;
    .wrapper {
        width: 1900px;
        margin: 0 auto;
    }
}
header {
    background-color: $header-background-color;
    position: sticky;
    top: 0px;
    h1 {
        width: 100%;
        text-align: center; 
        font-family: 'Playfair Display';
        color: $primary-text-color;
        font-weight: bold;    
        font-size: 38px;
        margin: 0;
        padding: 10px;
    }    
}
main {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;    
    .field-container {
        width: 345px;
        padding-bottom: 20px;
    }
    .info-container {
        width: 22%;          
    }
    .field-container, .info-container {        
        min-height: 642px;
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        box-sizing: border-box;
        position: relative !important;
        &__header {
            font-family: 'Playfair Display';            
            font-size: 28px;
            color: $primary-text-color;
            text-align: center;
            margin: 0 0 5px;
        }    
        &-moreWidth {
            width: 28%;
        }
        &-short {
            width: 10%;
        }        
    }
}

.hidden {
    display: none;
}