.preview {
    background-size: cover;
    background-position: center;
    border-radius: 20px;  
    width: 70px;
    height: 70px;   
    
    &>span.important-text {
        position: relative;
        width: 100%;
        color: #fff;
        font-weight: bold;
        top: 20px;        
        display: block;
        margin: 0 auto;     
        text-align: center;
        pointer-events: none;
    }
    #field1 &[data-bs-toggle='modal']:hover {
        cursor: pointer;
    }                  
    &[data-atr='hovered']:hover {        
        border-radius: 0;        
        transition: .3s ease-in all;        
        z-index: 6000 !important;    
        #field1 & {
            transform: scale(4) translateX(35%);
        } 
        #field2 & {
            transform: scale(4) translateX(-35%);
        } 
    }
    #field2 &[data-bs-toggle='modal']:hover, .all__items &[data-bs-toggle='modal']:hover {
        cursor: pointer;
    }
    
    &>div {
        min-width: 50px;
        font-size: 6px;            
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;                
        display: none;
        position: absolute;
        z-index: 2000;
        top: 0;
        border: 3px double black;           
        #field1 & {
            left: 100%;     
        }
        #field2 & {
            right: 100%;     
        }
        &>p {
            font-size: 2.5px;
            width: 100%;
            margin: 0;
            color: $primary-text-color;
            background-color: $primary-background-color;                            
            font-weight: bold;
            font-family: $primary-font-family; 
            padding: .5px;                
        }
        &>p:first-child, .danger-text, &>p:last-child {
            font-size: 2.8px;
            color: red;
            text-align: center;
        }            
    }        
    &[data-atr='hovered']:hover > div{
        display: flex;
    }
}