body {    
    background-image: $primary-background-image;
    width: 100%;        
    min-height: 100vh;    
    overflow-x: hidden;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    h1 {
        width: 100%;
        text-align: center;        
    }    
}
.field__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}